{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>User info</h1>

  {% if user.is_authenticated %}
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    {% if  user.profile  %}
      <p>Bio: {{ user.profile.bio }}</p>
    {% endif %}


    <p>Avatar:</p>
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="Avatar" style="max-height: 200px;">
    {% else %}
      <p>No avatar uploaded.</p>
    {% endif %}

    <h3>Upload new avatar</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>
  {% endif %}
{% endblock %}
